<% 
    if(country.irl===true){
        %><a class="icon" href="/erth2#marks"><%-include("../components/icons/erth2/irl-completely")%></a><%
    } else if(country.irl===false){
        %><a class="icon" href="/erth2#marks"><%-include("../components/icons/erth2/irl-not-match")%></a><%
    } else if(country.irl==="half"){
        %><a class="icon" href="/erth2#marks"><%-include("../components/icons/erth2/irl-partly")%></a><%
    } else{
        %><a class="icon" href="/erth2#marks"><%-include("../components/icons/erth2/irl-pending")%></a><%
    }
%>