<% 
let menu = [
    {
        title:"Карта",
        url:"/map"
    },
    {
        title:"Наши государства",
        url:"/countries"
    },
    {
        title:"Валюты",
        url:"/currencies"
    },
    {
        title:"ERTH2",
        url:"/erth2"
    },
    {
        title:"Заявки на индексирование государств",
        url:"/pending-countries"
    },
    {
        title:"Редактор территорий",
        url:"/getgeo"
    }
]
%> 
<!--noindex-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img width="100px" src="https://artegoser.github.io/gossk/movc-logo.png" class="logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <%
                for(let i=0; i<menu.length; i++) {
                    %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%- menu[i].url %> "><%- menu[i].title %> </a>
                    </li><%
                }
            %>
        </ul>
      </div>
    </div>
  </nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu">
    <a class="navbar-brand" href="/"><img width="100px" src="https://artegoser.github.io/gossk/movc-logo.png" class="logo" alt=""></a>
</nav>
<!--/noindex-->