.bordert {
  border-radius: 20px;
}
.borderc {
  border-radius: 0px 0px 20px 20px;
}

.borderl {
  border-radius: 20px 0px 0px 20px;
}
.borderr {
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 768px) {
  .borderl {
    border-radius: 20px 20px 0px 0px;
  }
  .borderr {
    border-radius: 0px 0px 20px 20px;
  }
}

.icon {
  text-decoration: none;
}

#completely {
  transition: 0.5s;
  fill: rgb(21, 197, 21);
}

#completely:hover {
  transition: 0.5s;
  fill: rgb(21, 103, 197);
}

#partly {
  transition: 0.5s;
  fill: rgb(0, 15, 153);
}

#partly:hover {
  transition: 0.5s;
  fill: rgb(197, 71, 21);
}

#pending {
  transition: 0.5s;
  fill: rgb(6, 165, 165);
}

#pending:hover {
  transition: 0.5s;
  fill: rgb(162, 0, 255);
}

#not-match {
  transition: 0.5s;
  fill: rgb(180, 2, 2);
}

#not-match:hover {
  transition: 0.5s;
  fill: rgb(234, 0, 255);
}

.ghost {
  opacity: 0;
}

.valutecard {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.borderleft {
  border-radius: 20px 0px 0px 20px;
}
.borderright {
  border-radius: 0px 20px 20px 0px;
}

/* btns */
.btn {
  transition: 0.5s;
}
.btn:hover {
  transition: 0.5s;
}
.btn-primary {
  color: black;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  border-width: 2px;
  border-color: rgb(153, 153, 153);
}
.btn-primary:hover {
  border-radius: 15px;
  color: white;
  border-color: rgb(153, 153, 153);
  background-color: rgb(180, 180, 180);
}
.btn-primary:active {
  box-shadow: none !important;
  border-width: 5px;
  border-color: rgb(153, 153, 153);
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 153, 153, 0.5) !important;
  color: black;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  border-width: 2px;
  border-color: rgb(153, 153, 153);
}
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  box-shadow: none !important;
}
.btn-dark:hover {
  border-radius: 20px 10px 20px 10px;
}

.required {
  padding: 5px;
  border-radius: 20px;
  background-color: #d8d8d8;
  margin: 10px !important;
}

.formrow {
  margin: 10px !important;
}

.movcform {
  border-radius: 20px !important;
}

input[type="button"],
input[type="submit"] {
  border-radius: 20px !important;
}

.thumbnail {
  position: relative;
  transform-style: preserve-3d;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  transform: translateZ(50px);
}

.glass {
  box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
  background: inherit;
}
.glass:before {
  box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
}

.blurin {
  display: none;
}

.country img {
  width: 100%;
  border-radius: 20px;
}