<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <script src="/public/js/chart.js"></script>
        <title>MOVC - Статистика</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container">
            
        </div>
    </body>
</html>