<!DOCTYPE html>
<html>
    <head>
        <%- include("../components/bootstrap") %> 
        <%- include("../components/head") %> 
        <script src="/public/js/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/6.5.0/turf.min.js" integrity="sha512-Q7HOppxoH0L2M7hreVoFCtUZimR2YaY0fBewIYzkCgmNtgOOZ5IgMNYxHgfps0qrO1ef5m7L1FeHrhXlq1I9HA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/public/js/palette.js"></script>
        <script src="/public/js/stats.js"></script>
        <title>MOVC - Статистика</title>
    </head>
    <body>
        <%- include("../components/menu") %> 
        <div class="container">
            <div class="row">
                <div class="col"><canvas id="territory-chart"></canvas></div>
                <div class="col"><canvas id="colonies-chart"></canvas></div>
            </div>
            <div class="row">
                <div class="col"><canvas id="ranks-chart"></canvas></div>
                <!-- <div class="col"><canvas id="types-chart"></canvas></div> -->
            </div>
        </div>
    </body>
</html>